@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.topbar_menu a {
    display: block;
    font-size: 14px;
    color: #465dff;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    padding: 4px 6px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.topbar_menu li{
    position: relative;
    float: left;
    margin: 0 4px;
}

.submenu{
   display: none;
}

.topbar_menu li:hover .submenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    transition: all 0.2s ease-in;
    min-width: 240px;
    box-shadow: -6px 1px 29px -2px rgba(0,0,0,0.23);
    -webkit-box-shadow: -6px 1px 29px -2px rgba(0,0,0,0.23);
    -moz-box-shadow: -6px 1px 29px -2px rgba(0,0,0,0.23);
    margin: 0;
    z-index: 999999;
    padding: 8px;
    border-radius: 2px;
    background-color: #f0eeee;
}

.topbar_menu li:hover .submenu li {
    position: relative;
    float: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fafafa;
}

.topbar_menu .submenu li a {
    display: inline-block;
    position: relative;
    background-color: #465dff;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-transform: none;
    opacity: 1;
    text-transform: capitalize;
    transition: all 0.2s ease;
    border-radius: 0;
    border: none;
}

.topbar_menu li:hover .submenu li:hover a {
    color: #465dff;
    font-weight: 600;
    text-transform: uppercase;
    transform: translateX(3px);   /* Animate to position */
    opacity: 1;
}

.topbar_menu li:hover .submenu li:hover a{
    color: #465dff;
    font-weight: 600;
    text-transform: uppercase;
}

.topbar_menu li:hover .submenu li a:hover {
    background-color: transparent;
    color: #465dff;
}

.topbar_menu li:hover .submenu li:last-child {
    border-bottom: none;
}


.side-nav-link > .sf_menu{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    background-color: #fff;
    padding: 8px 12px;
    color: #465dff;
    border: 2px solid #ccc;
    border-radius: 5px;
}

html[data-sidenav-size="condensed"]:not([data-layout="topnav"]) .sidenav-menu .side-nav > .side-nav-item:hover > .side-nav-link {
    background-color: transparent !important;
    color: #465dff !important;
    font-size: 18px;
    min-width: 350px;
    box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.21);
    -webkit-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 1px 6px 2px rgba(0,0,0,0.21);
    transition: all 0.2s ease-in-out;
}

.side-nav-link .sf_menu:hover{
    background-color: #465dff;
    color: #fff;
    transform: translateX(2px);   /* Animate to position */
    opacity: 1;
    transition: all 0.2s ease-in-out;
}