@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Global Container Settings */
.global_container_settings {
    position: fixed;
    top: 66px;
    left: 66px;
    right: 0;
    width: 94.7%;
    z-index: 999;
}

.global_settings{
    position: relative;
    width: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 80px); 
}

@keyframes slideInLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* ========================= */
/* Topbar Menu Styling       */
/* ========================= */

.topbar_menu{
    margin-left: 30px;
}

.topbar_menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.topbar_menu li {
    position: relative;
    border-right: 1px solid #c0c0c0;
    opacity: 0;
    animation: slideInLeftToRight 0.5s ease forwards;
}

.topbar_menu li:last-child {
    border-right: none;
}

.topbar_menu a {
    display: block;
    padding: 6px 8px;
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-size: 600% 600%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.topbar_menu a:hover {
    background-color: #fff;
    color: #465dff;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: inset 0 0 10px rgba(70, 93, 255, 0.1);
}

   
/* Show submenu on hover */
.topbar_menu li:hover .submenu {
    display: block;
    opacity: 1;
    visibility: visible;
}

/* Submenu items */
.topbar_menu .submenu li {
    float: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #5d6eff;
    border-right: none;
}

.topbar_menu .submenu li:last-child {
    border-bottom: none;
}

.topbar_menu .submenu li a:hover {
    background-color: #eee;
    color: #465dff;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 10px;
    box-shadow: inset 0 0 10px rgba(70, 93, 255, 0.1);
}


/* ========================= */
/* Submenu container */
/* ========================= */
.submenu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 240px;
    z-index: 9999;
    padding: 0;
    margin: 0;
    background-color: #465dff;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    pointer-events: none; 
}

.submenu li{
    padding: 3px;
}

.submenu li a {
    display: block;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    box-sizing: border-box;
    background-size: 600% 600%;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}

.submenu li a i.fa-angles-right {
    margin-left: auto;
    color: #fff;
    font-size: 10px;
    float: right;
    margin-top: 5px;
    transition: transform 0.3s ease;
}

.submenu li a:hover i.fa-angles-right {
    color: #465dff
}


/* Show submenu on hover with animation */
.topbar_menu li:hover .submenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    animation: slideUp 0.3s ease forwards;
    pointer-events: auto;  /* add this */
}

/* Active state */
.topbar_menu li.active > a,
.topbar_menu .submenu li.active > a {
    background-color: #fff;
    color: #465dff;
    text-transform: uppercase;
    border-left: 4px solid #465dff;
    padding-left: 10px;
    box-shadow: inset 0 0 10px rgba(70, 93, 255, 0.1);
}


/* ========================= */
/* Nested Menu Styling       */
/* ========================= */
.submenu{
    display: inline-block;
}
.submenu li .nested-menu {
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 240px;
    flex-direction: column;
    background-color: #465dff;
    opacity: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 9999;
    box-sizing: border-box;
    overflow: hidden;
    white-space: normal;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

    max-width: 240px;
    white-space: nowrap;         
    overflow: hidden;            
    text-overflow: ellipsis;
    pointer-events: none;
}

/* Show nested menu on hover */
.submenu li:hover > .nested-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(10);
    animation: slideRight 0.3s ease forwards;
    pointer-events: auto;
}

.nested-menu li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #5d6eff;
}

.nested-menu li:last-child {
    border-bottom: none;
}

.nested-menu li a {
    display: block;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Hover effect on nested menu links */
.nested-menu a:hover {
    background-color: #3347e4;
    box-shadow: inset 0 0 10px rgba(70, 93, 255, 0.1);
    color: #fff;
}

/* ========================= */
/* Animation for Nested Menu */
/* ========================= */

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.topbar_menu li:nth-child(1) { animation-delay: 0.1s; }
.topbar_menu li:nth-child(2) { animation-delay: 0.2s; }
.topbar_menu li:nth-child(3) { animation-delay: 0.3s; }
.topbar_menu li:nth-child(4) { animation-delay: 0.4s; }
.topbar_menu li:nth-child(5) { animation-delay: 0.5s; }
.topbar_menu li:nth-child(6) { animation-delay: 0.6s; }
.topbar_menu li:nth-child(7) { animation-delay: 0.7s; }
.topbar_menu li:nth-child(8) { animation-delay: 0.8s; }
.topbar_menu li:nth-child(9) { animation-delay: 0.9s; }
.topbar_menu li:nth-child(10) { animation-delay: 1.0s;}



/* ========================= */
/* Brand Name Elements       */
/* ========================= */
.brand_name {
    height: 40px;             /* Prevent jump */
    display: flex;
    align-items: center;
}

.brand_name a {
    font-size: 1.25rem;
    line-height: 1.25;            /* Avoid height shifts */
    margin-left: -0.5rem;
    margin-right: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: none;
    display: inline-block;

    /* Gradient Text */
    background: linear-gradient(135deg, #fff, #fff, #fff);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: all 0.3s ease;
}



/* ========================= */
/* Side Navigation Container */
/* ========================= */
.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 0;
    margin: 30px 0 0 0;
    list-style: none;
    position: fixed;
}

/* ========================= */
/* Side Navigation Links     */
/* ========================= */
.side-nav .sf_nav {
    position: relative;
}

.side-nav .sf_nav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 30px;
    padding: 0 10px;
    margin-left: 6px;
    border-radius: 3px;
    overflow: hidden;

    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #9f3fda;

    background: #fff;
    background-size: 300% 300%;
    animation: gradientPulse 6s ease infinite;

    border: 1px solid #e0a0dc;
    z-index: 1;

    white-space: nowrap;
    transition: none;
}


.side-nav .sf_nav a::after {
    content: attr(data-title);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(-10px); /* Start slightly left */
    
    background-color: rgba(70, 93, 255, 0.95);
    color: #fff;
    padding: 6px 10px;
    font-size: 12px;
    white-space: nowrap;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 9999;

    transition: all 0.25s ease;
}

/* Better hover selector */
.side-nav .sf_nav a:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(0); /* Animate to original position */
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.side-nav .sf_nav a.active {
    background: linear-gradient(270deg, #7f00ff, #e100ff, #3347e4);
    background-size: 400% 400%;
    animation: gradientMove 6s ease infinite;

    color: white !important;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(127, 0, 255, 0.5);
    position: relative;
    z-index: 2;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ========================= */
/* For Tabs     */
/* ========================= */
.tabs-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




